<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reclamation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            max-width: 800px;
            width: 100%;
        }

        .center {
            text-align: center;
        }

        .section {
            margin-bottom: 1em;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1em;
        }

        th,
        td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>

<body>

    <div class="center">
        <img src="https://fsac.univh2c.ma/front/images/FSAC%20LOGO.jpg" alt="FSAC Logo" style="width: 30%;" />
        <div>
            <strong style="font-size: 1.5em;">Faculté des Sciences Ain Chock</strong><br />
            <span style="font-size: 0.9em;">Reclamation</span><br />
            <span style="font-size: 0.9em;">Date: {{date}}</span><br />
            <span style="font-size: 0.9em;">Code: {{code}}</span><br />
        </div>
    </div>

    <div class="section">
        <h2>Reclamation Details</h2>
        <table>
            <tr>
                <th>Subject</th>
                <td>{{subject}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{rDescription}}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>Item</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{iDescription}}</td>
            </tr>
            <tr>
                <th>Found Time</th>
                <td>{{foundDateTime}}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>User</h2>
        <table>
            <tr>
                <th>CNE</th>
                <td>{{cne}}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{firstName}} {{lastName}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{phone}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{address}}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>Contacts</h2>
        <table>
            <tr>
                <th>e-Mail</th>
                <td>me@example.com</td>
            </tr>
            <tr>
                <th>FSAC</th>
                <td><a href="https://fsac.univh2c.ma/front/index.html">https://fsac.univh2c.ma</a></td>
            </tr>
        </table>
    </div>

</body>

</html>